<app-navbar></app-navbar>
<section>
  <div id="content">
    <h1>Furama</h1>
    <h4>Tinh Tế Bản Nguyên Cuộc Sống</h4>
  </div>
</section>
<div class="container-fluid" id="background">
  <div class="row p-5">
    <div class="col-lg-6 col-md-12  check_1" id="check">
      <h2>Vị trí</h2>
      <p>Hướng ra bãi biển Đà Nẵng trải dài cát trắng, Furama Resort Đà Nẵng là cửa ngõ đến với 3 di sản văn hoá thế
        giới:
        Hội An (20 phút), Mỹ Sơn (90 phút) và Huế (2 tiếng. 196 phòng hạng sang cùng với 70 căn biệt thự từ hai đến bốn
        phòng ngủ có hồ bơi riêng đều được trang trí trang nhã, theo phong cách thiết kế truyền thống của Việt Nam và
        kiến
        trúc thuộc địa của Pháp, biến Furama thành khu nghỉ dưỡng danh giá nhất tại Việt Nam – vinh dự được đón tiếp
        nhiều
        người nổi tiếng, giới hoàng gia, chính khách, ngôi sao điện ảnh và các nhà lãnh đạo kinh doanh quốc tế.</p>
    </div>
    <div class="col-lg-6 col-md-12  check_1">
      <img src="https://phulong.com/UploadFiles/Images/FURAMA%2020%20NAM.jpg" width="100%"/></div>
  </div>
  <div class="row mt-5 text-center" id="room">
    <h1><span>V</span>iew Room</h1>
  </div>
  <div class="row mt-5 p-5">
    <div class="col-lg-3 col-md-6 mb-5">
      <div class="card" style="width: 100%;height: 100%">
        <img src="https://noithatanhung.vn/uploads/images/bai-viet/pham-thuy/thang-11/22/hinh-anh-phong-ngu-dep-1.jpg"
             class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="text-center mb-3">
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <div class="card" style="width: 100%;height: 100%">
        <img src="https://noithatanhung.vn/uploads/images/bai-viet/pham-thuy/thang-11/22/hinh-anh-phong-ngu-dep-1.jpg"
             class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="text-center mb-3">
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <div class="card" style="width: 100%;height: 100%">
        <img src="https://noithatanhung.vn/uploads/images/bai-viet/pham-thuy/thang-11/22/hinh-anh-phong-ngu-dep-1.jpg"
             class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="text-center mb-3">
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <div class="card" style="width: 100%;height: 100%">
        <img src="https://noithatanhung.vn/uploads/images/bai-viet/pham-thuy/thang-11/22/hinh-anh-phong-ngu-dep-1.jpg"
             class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="text-center mb-3">
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row text-center ">
    <h1>Giải Trí & Ẩm Thực</h1>
  </div>
  <div class="row" id="background_2">
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
