<h1>Danh sách sản phẩm</h1>
<button class="btn btn-success" routerLink="/product/create/new">Tạo mới sản phẩm</button>
<table class="table table-info table-striped table-bordered text-center">
  <thead>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Thể loại</td>
    <td>Sửa</td>
    <td>Xóa</td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category.name}}</td>
    <td><a class="btn btn-danger" [routerLink]="['/product/update/new',product.id]">Edit</a></td>
    <td>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="deleteProduct(product)">
        delete
      </button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You want to delete name : <span style="color: red">{{deleteName}}</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="delete(deleteId)" data-bs-dismiss="modal" >Delete</button>
      </div>
    </div>
  </div>
</div>
