<footer class="bg-dark text-center text-white" style="margin-top: 60px">
  <div class="container-fluid p-4">
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up</strong>
            </p>
          </div>
          <div class="col-md-5 col-12">
            <div class="form-outline form-white mb-4">
              <input type="email" value="Nhập vào e mail" id="form5Example21" class="form-control"/>
              <label class="form-label" for="form5Example21"></label>
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
        </div>
      </form>
    </section>
    <section class="mb-4">
      <p>
        Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những điểm đến hấp dẫn nhất Châu Á.
        Chỉ cách Đà Nẵng một quãng lái xe ngắn là bốn Di sản Văn hóa Thế giới được UNESCO công nhận:
      </p>
    </section>
    <section class="">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Hướng dẫn di chuyển</h5>
          <ul class="list-unstyled mb-0 text-decoration-none">
            <li>
              <a href="#!" class="text-white text-decoration-none">Cố đô huế</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Phố cổ hội an</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Thánh địa mỹ sơn</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Động phong nha</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Thông tin</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white text-decoration-none">Giá Công Bố</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Lifestyle Blog</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Tuyển Dụng</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Liên hệ</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white text-decoration-none">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Link 4</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Liên hệ</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white text-decoration-none">103 - 105 Vo Nguyen Giap Street, Khue My Ward,
                Ngu Hanh Son District, Danang City, Vietnam</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</footer>
