<div class="container">
  <div class="row">
    <div class="col">
      <form action="" [formGroup]="updateForm" (ngSubmit)="onSubmitEdit()">
        <div>
          <input type="text" formControlName="id">
        </div>
        <div>
          <input type="text" formControlName="productName">
        </div>
        <div>
          <input type="text" formControlName="price">
        </div>
        <div>
          <input type="text" formControlName="description">
        </div>
        <button type="submit">save</button>
      </form>
    </div>
  </div>
</div>
