<h1>Danh sách danh mục sản phẩm</h1>
<a routerLink="/category/create">Tạo mới danh mục</a>
<table>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td colspan="2"></td>
  </tr>
  <tr *ngFor="let category of categories; index as i">
    <td>{{i + 1}}</td>
    <td>{{category.name}}</td>
    <td><a [routerLink]="['/category/edit',category.id]">Edit</a></td>
    <td>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="selDelete(category.id, category.name)">
        Delete
      </button>
    </td>
  </tr>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Ban co muon xoa? <span class="text-danger">{{valueDelete[1]}}</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteCategory(valueDelete[0])">Delete</button>
      </div>
    </div>
  </div>
</div>
