<section>
  <div id="form_edit">
    <h1>Chỉnh sửa thông tin</h1>
    <form action="">
      <label for="1">Nhập tên</label>
      <input type="text" id="1">
      <label for="2">Nhập:</label>
      <input type="text" id="2">
      <label for="3">Nhập:</label>
      <input type="text" id="3">
      <label for="4">Nhập:</label>
      <input type="text" id="4">
      <label for="5">Nhập:</label>
      <input type="text" id="5">
      <label for="6">Nhập:</label>
      <input type="text" id="6">
      <label for="7">Nhập:</label>
      <input type="text" id="7">
      <button class="btn btn-danger">Save</button>
    </form>
  </div>
</section>
