<app-navbar></app-navbar>
<section>
  <div id="form_create">
    <div class="row">
      <div class="col">
        <a routerLink="/create-customer" class="btn btn-success">Create</a>
      </div>
      <div class="col-lg-8">
        <h1>Danh sách khách hàng</h1>
      </div>
      <div class="col"></div>
    </div>
    <table class="table table-hover" cellpadding="10px">
      <thead>
      <tr>
        <th>ID</th>
        <th>Tên Khách hàng</th>
        <th>Số Điện thoại</th>
        <th>Email</th>
        <th>Địa Chỉ</th>
        <th>Giới tính</th>
        <th>Ngày sinh</th>
        <th>CMNN/CCCD</th>
        <th>Loại khách</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customers of customer">
        <td>{{customers.customerId}}</td>
        <td>{{customers.customerName}}</td>
        <td>{{customers.phone}}</td>
        <td>{{customers.email}}</td>
        <td>{{customers.address}}</td>
        <td>{{customers.gender}}</td>
        <td>{{customers.dateOfBirth}}</td>
        <td>{{customers.idCard}}</td>
        <td>{{customers.customerTypeId}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<app-footer></app-footer>
