<section>
  <div id="form_create">
    <h1>Danh sách khách hàng</h1>
    <table class="table table-hover">
      <tr>
        <th>STT</th>
        <th>Tên Khách hàng</th>
        <th>Số Điện thoại</th>
        <th>Email</th>
        <th>Địa Chỉ</th>
        <th>Loại khách</th>
        <th>Loại khách</th>
        <th>Loại khách</th>
        <th>Loại khách</th>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3ssssssssssssssssss</td>
        <td>ssssssssssssssssss</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
      </tr>
    </table>
  </div>
</section>

