#nav{
  width: 100%;
  position: absolute;
}

ul li .text_menu{
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 990px) {
  .navbar-collapse{
    background: linear-gradient(to right, #66CC99, #66CCCC);
    text-align: center;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
  }

  #search{
    width: 60%;
    margin:20px auto ;
  }
  #search input{
    width: 100%;
  }
}


