<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="loggincomponent" (ngSubmit)="onSubmitLoggin()" )>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" formControlName="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="text-danger"  *ngIf="loggincomponent.controls.email.hasError('required') && loggincomponent.controls.email.touched">Vui lòng nhâp</div>
        <div class="text-danger" *ngIf="loggincomponent.controls.email.hasError('pattern') && loggincomponent.controls.email.touched">Vui lòng nhâp đúng địn dạng</div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <div class="text-danger" *ngIf="loggincomponent.controls.password.hasError('required') && loggincomponent.controls.password.touched">Vui lòng nhâp</div>
        <div class="text-danger" *ngIf="loggincomponent.controls.password.hasError('pattern') && loggincomponent.controls.password.touched">Vui lòng nhâp đúng địn dạng</div>
        <div class="mb-3 form-check">
          <input formControlName="password" name="password" type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
