<div class="container">
  <div class="row">
    <div class="col-5">
      <form #createStudentForm = "ngForm"
      (ngSubmit)="onSubmit(createStudentForm)"
      >
        <div class="mb-3">
          <label for="studentCode" class="form-label">Student Code</label>
          <input
            [(ngModel)]="student.studentCode"
            name="studentCode" type="text" class="form-control" id="studentCode" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="nameStudent" class="form-label">Name</label>
          <input type="text" class="form-control" id="nameStudent"
                 [(ngModel)]="student.studentName"
                 name="nameStudent">
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" id="address"
                 [(ngModel)]="student.address"
                 name="address">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
